.Battle{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./src/assets/maps/StreetBattle.png);
    background-size: cover;
    image-rendering: pixelated;

    .Battle_hero, .Battle_enemy{
        position: absolute;
        transform: scale(2);
        width: 32px;
        height: 32px;
        overflow: hidden;
        background: url(./src/assets/characters/shadow.png);
        img{
            pointer-events: none;
        }
    }

    .Battle_hero{
        bottom: 57px;
        left: 1px;

        img{
            transform: translateY(-64px); /* nudges the hero spritesheet */
        }
    }

    .Battle_enemy{
        top: 42px;
        right: -1px;
    }
    
    .Combatant{
        transform: scale(2);
    }

    .Combatant[data-active="false"] {
        opacity: 0;
    }

    .Combatant[data-active="true"] {
        opacity: 2;
    }

    .Pizza {
        position: absolute;
        transform: scale(2);
        background: url(./src/assets/characters/pizzas/pizza-shadow.png) no-repeat no-repeat;
    }

    .Pizza[data-active="false"] {
        opacity: 0;
    }

    .Pizza[data-active="true"] {
        opacity: 2;
    }
}

.Combatant{
    width: 67px;
    height: 14px;
    background: url("./src/assets/ui/SingleMemberDisplay.png") no-repeat no-repeat;
    position: absolute;

    .Combatant_character_crop{
        position: absolute;
        bottom: 1px;
        left: 3px;
        width: 22px;
        height: 12px;
        overflow: hidden; /*this way we can crop out the combatant picture for the frame*/
    }
    .Combatant_character{
        display:block;
        position:absolute;
        left: -11px;
        bottom: -7px;
    }
        
    .Combatant_name {
        position: absolute;
        left: -2px;
        top: -8px;
        white-space: nowrap; /* even if the name has a space in it, we don't want it to be wrapped */
        background: var(--menu-font-color);
        color: #fff;
        font-size: 5px; /* this is only so small because this component is being scaled up by a factor of 2x in battle */
        padding-left: 2px;
        padding-right: 2px;
        margin: 0;
    }
    .Combatant_type {
        position: absolute;
        left: 3px;
        top: -2px;
        width: 16px;
        height: 16px;
    }

    .Combatant_life-container {
        position: absolute;
        left: 20px;
        top: 4px;
        width: 26px;
        height: 3px;
    }
    .Combatant_life-container > rect{
        transition: width 0.2s;
    }

    .Combatant_xp-container {
        position: absolute;
        left: 20px;
        top: 8px;
        width: 26px;
        height: 2px;
    }
    .Combatant_level {
        position: absolute;
        font-size: 12px;
        right: 2px;
        top: -1px;
        width: 17px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F8C594;
        border: 1px solid #A48465;
        margin: 0;
    }

    .Combatant_status {
        position: absolute;
        font-size: 5px;
        left: 47px;
        bottom: -3px;
        padding-left: 2px;
        padding-right: 2px;
        background: rgba(0,0,0,0.8);
        color: white;
        margin:0;
    }
    .Combatant_status[data-status="saucy"] {
        color:red;
    }
    .Combatant_status[data-status="clumsy"] {
        background: #582a79;
    }

}

.Combatant[data-team="player"]{
    left: 46px;
    top: 70px;
}
.Combatant[data-team="enemy"]{
    top: 28px;
    right: 77px;
}

.Battle .Combatant_character_crop{
    display: none;
}

.Pizza[data-team="player"] {
    bottom: 73px;
    left: 51px;
}

.Pizza[data-team="enemy"] {
    top: 47px;
    right: 100px;
}

/* Animations */

@keyframes battle-damage-blinking { /* the typical flashing effect from taking damage */
    to {
        visibility: hidden;
    }
}
.battle-damage-blinking{
    animation: battle-damage-blinking 0.3s steps(2, start) infinite;
}

@keyframes battle-spin-right {
    0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(2)}
    25% { transform: translate3d(100%, -25%, 0) rotate(45deg) scale(2)}
    100% { transform: translate3d(0, 0, 0) scale(2)}
}
.battle-spin-right{
    animation: battle-spin-right 0.8s;
}
@keyframes battle-spin-left {
    0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(2)}
    25% { transform: translate3d(-100%, 25%, 0) rotate(45deg) scale(2)}
    100% { transform: translate3d(0, 0, 0) scale(2)}
}
.battle-spin-left{
    animation: battle-spin-left 0.8s;
}