.Battle{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./src/assets/maps/StreetBattle.png);
    background-size: cover;
    image-rendering: pixelated;

    .battle-effects-canvas{
        position: relative;
        z-index: 500;
        pointer-events: none;
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    .Battle_hero, .Battle_enemy{
        position: absolute;
        transform: scale(2);
        width: 32px;
        height: 32px;
        overflow: hidden;
        background: url(./src/assets/characters/shadow.png);
        img{
            pointer-events: none;
        }
    }

    .Battle_hero{
        bottom: 57px;
        left: 1px;

        img{
            transform: translateY(-64px); /* nudges the hero spritesheet */
        }
    }

    .Battle_enemy{
        top: 42px;
        right: -1px;
    }
    
    .Combatant{
        transform: scale(2);
        transition: opacity 0.4s;
    }

    .Combatant[data-active="false"] {
        opacity: 0;
    }

    .Combatant[data-active="true"] {
        opacity: 1;
    }

    .Pizza {
        position: absolute;
        transform: scale(2);
        transition: opacity 0.4s, transform 0.4s;

        .sprite{
            background: url(./src/assets/characters/pizzas/pizza-shadow.png) no-repeat no-repeat;
        }
        
        .filter{ /* this works for now */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 0, 0, 0);
            mask-image: url('./src/assets/characters/pizzas/s002.png');
            mask-size: contain;
            mask-repeat: no-repeat;
        }
    }

    .Pizza[data-active="false"] {
        opacity: 0;
        transform: translate3d(0, 16px, 0) scale(2);
    }

    .Pizza[data-active="true"] {
        opacity: 2;
        transform: translate3d(0, 0, 0) scale(2);
    }

    .Team{
        display: flex;
        position: absolute;
        top: 4px;
        gap: 4px;
    }

    .Team[data-team="player"]{
        left: 4px;
    }

    .Team[data-team="enemy"]{
        right: 4px;
    }

    /* Start stateful paths as display:none */
    .Team .dead-pizza{
        display: none;
    }
    .Team .active-pizza-indicator{
        display: none;
    }

    /* Display then as opted in by data-attributes */
    .Team [data-dead="true"] .dead-pizza{
        display: block;
    }
    .Team [data-active="true"] .active-pizza-indicator{
        display: block;
    }
}

.Combatant{
    width: 67px;
    height: 14px;
    background: url("./src/assets/ui/SingleMemberDisplay.png") no-repeat no-repeat;
    position: absolute;

    .Combatant_character_crop{
        position: absolute;
        bottom: 1px;
        left: 3px;
        width: 22px;
        height: 12px;
        overflow: hidden; /*this way we can crop out the combatant picture for the frame, we are also hiding this since we are only using this for the hud element*/
    }

    .Combatant_character{
        display:block;
        position:absolute;
        left: -11px;
        bottom: -7px;
    }

    .Combatant_character.Defeated{
        filter: grayscale(1);
    }
  
    .Combatant_name {
        position: absolute;
        left: -2px;
        top: -8px;
        white-space: nowrap; /* even if the name has a space in it, we don't want it to be wrapped */
        background: var(--menu-font-color);
        color: #fff;
        font-size: 5px; /* this is only so small because this component is being scaled up by a factor of 2x in battle */
        padding-left: 2px;
        padding-right: 2px;
        margin: 0;
    }
    .Combatant_type {
        position: absolute;
        left: 3px;
        top: -2px;
        width: 16px;
        height: 16px;
    }

    .Combatant_life-container {
        position: absolute;
        left: 20px;
        top: 4px;
        width: 26px;
        height: 3px;
    }
    .Combatant_life-container > rect{
        transition: width 0.2s;
    }

    .Combatant_xp-container {
        position: absolute;
        left: 20px;
        top: 8px;
        width: 26px;
        height: 2px;
    }
    .Combatant_level {
        position: absolute;
        font-size: 12px;
        right: 2px;
        top: -1px;
        width: 17px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F8C594;
        border: 1px solid #A48465;
        margin: 0;
    }

    .Combatant_status {
        position: absolute;
        font-size: 5px;
        left: 47px;
        bottom: -3px;
        padding-left: 2px;
        padding-right: 2px;
        text-wrap: nowrap;
        background: rgba(0,0,0,0.8);
        color: white;
        margin:0;
    }
    .Combatant_status[data-status="saucy"] {
        background:rgb(168, 0, 0);
    }
    .Combatant_status[data-status="clumsy"] {
        background: #582a79;
    }

}

.Combatant[data-team="player"]{
    left: 46px;
    top: 70px;
}
.Combatant[data-team="enemy"]{
    top: 28px;
    right: 77px;
}

.Battle .Combatant_character_crop{
    display: none;
}

.Pizza[data-team="player"] {
    bottom: 70px;
    left: 51px;
}

.Pizza[data-team="enemy"] {
    top: 50px;
    right: 100px;
}

/* Animations */

@keyframes battle-damage-blinking { /* the typical flashing effect from taking damage */
    100% {
        visibility: hidden;
    }
}
.battle-damage-blinking{
    animation: battle-damage-blinking 0.3s steps(2, start) infinite;
}

@keyframes battle-damage-effect-filter { /* the typical flashing effect from taking damage */
    0% {
        background-color: rgba(255, 0, 0, 0);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.4);
    }
    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}

@keyframes battle-damage-effect-filter { /* the typical flashing effect from taking damage */
    0% {
        background-color: rgba(255, 0, 0, 0);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.4);
    }
    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}

@keyframes battle-damage-effect-pizza { /* the typical flashing effect from taking damage */
    0% { transform: translate(1px, 1px) scale(2) }
    10% { transform: translate(-1px, -2px) scale(2); }
    20% { transform: translate(-3px, 0px) scale(2) }
    30% { transform: translate(3px, 2px) scale(2) }
    40% { transform: translate(1px, -1px) scale(2) }
    50% { transform: translate(-1px, 2px) scale(2); }
    60% { transform: translate(-3px, 1px) scale(2) }
    70% { transform: translate(3px, 1px) scale(2); }
    80% { transform: translate(-1px, -1px) scale(2) }
    90% { transform: translate(1px, 2px) scale(2) }
    100% { transform: translate(1px, -2px) scale(2); }
}

.battle-damage-effect{
    animation: battle-damage-effect-pizza 0.3s ;

    .filter{
        animation: battle-damage-effect-filter 0.2s ; /* kinda wierd but this should matter at the end of the day */
    }
}

@keyframes battle-spin1-right {
    0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(2)}
    25% { transform: translate3d(100%, -25%, 0) rotate(45deg) scale(2)}
    100% { transform: translate3d(0, 0, 0) scale(2)}
}
.battle-spin1-right{
    animation: battle-spin1-right 0.8s;
}
@keyframes battle-spin1-left {
    0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(2)}
    25% { transform: translate3d(-100%, 25%, 0) rotate(-45deg) scale(2)}
    100% { transform: translate3d(0, 0, 0) scale(2)}
}
.battle-spin1-left{
    animation: battle-spin1-left 0.8s;
}

@keyframes battle-spin2-right {
    0% { transform: translate3d(0, 0, 0)  translate3d(0, 50%, 0) rotate3d(1, 0, 0, 0deg)  translate3d(0, -50%, 0) scale(2)}
    25% { transform: translate3d(100%, -25%, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 0deg) translate3d(0, -50%, 0) scale(3)}
    50% { transform: translate3d(100%, -25%, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 150deg)  translate3d(0, -50%, 0) scale(3)}
    70% { transform: translate3d(100%, -25%, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 0deg)  translate3d(0, -50%, 0)scale(3)}
    100% { transform: translate3d(0, 0, 0) scale(2)}
}
.battle-spin2-right{
    animation: battle-spin2-right 0.8s;
}
@keyframes battle-spin2-left {
    0% { transform: translate3d(0, 0, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 0deg) translate3d(0, -50%, 0) scale(2)}
    25% { transform: translate3d(-100%, 25%, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 0deg) translate3d(0, -50%, 0) scale(3)}
    50% { transform: translate3d(-100%, 25%, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 150deg) translate3d(0, -50%, 0) scale(3)}
    25% { transform: translate3d(-100%, 25%, 0) translate3d(0, 50%, 0) rotate3d(1, 0, 0, 0deg) translate3d(0, -50%, 0) scale(3)}
    100% { transform: translate3d(0, 0, 0) scale(2)}
}
.battle-spin2-left{
    animation: battle-spin2-left 0.8s;
}

.glob-orb{
    position: absolute;
    width: 32px;
    height: 32px;
}
@keyframes battle-glob-right {
    0% {transform: translate3d(0, 0, 0) scale(0.5); opacity: 1}
    50% {transform: translate3d(10px, -80px, 0) scale(1); opacity: 1}
    80% {transform: translate3d(149px, -47px, 0) scale(1); opacity: 1}
    100% {transform: translate3d(149px, -47px, 0) scale(3); opacity: 0}
}
.battle-glob-right{
    bottom: 73px;
    left: 51px;
    animation: battle-glob-right 1s forwards;
}
@keyframes battle-glob-left {
    0% {transform: translate3d(0, 0, 0) scale(0.5); opacity: 1}
    50% {transform: translate3d(-10px, -50px, 0) scale(1); opacity: 1}
    80% {transform: translate3d(-174px, 47px, 0) scale(1); opacity: 1}
    100% {transform: translate3d(-174px, 47px, 0) scale(3); opacity: 0}
}
.battle-glob-left{
    left: 227px;
    top: 56px;
    animation: battle-glob-left 1s forwards;
}