.Hud {
    position: absolute;
    left: 2px;
    top: 10px;
    image-rendering: pixelated;
}

.Hud .Combatant {
    position: relative;
    margin-bottom: 10px;
}

.Hud .Combatant_type {
    display: none; /* we only use the Combatant_type icon for battles*/
}